extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main

    .container.my-5
        .row
            .col-12
                +box-head("Danh sách sản phẩm")
               
        .row 
            each item in products 
                .col-md-4
                    .card.mb-4.shadow-sm
                        img.card-img-top(src=item.thumbnail, alt=item.title)
                        .card-body
                            h5.card-title
                                a(href=`/products/${item.slug}`) #{item.title}
                            p.card-text
                            | #{item.description}
                            .d-flex.justify-content-between.align-items-center
                                p.card-price-new Current Price #{item.priceNew}
                                p.card-price-old.text-muted Original Price #{item.priceFormat}
                                p.card-discount.text-danger Percent #{item.discountPercentage}%
                                a.btn.btn-primary(href='#') Buy Now

    nav
        ul.pagination.justify-content-center
            li.page-item
                a.page-link(href='#') Trang trước
            li.page-item
                a.page-link(href='#') 1
            li.page-item
                a.page-link(href='#') 2
            li.page-item
                a.page-link(href='#') 3
            li.page-item
                a.page-link(href='#') Kế tiếp