extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Danh sách sản phẩm")
               
        .row 
            each item in products 
                .card(style='width: 18rem;').product-item
                    img.card-img-top(src=item.thumbnail, alt=item.title)
                    .card-body
                        h5.card-title #{item.title}
                        p.card-text
                        | #{item.description}
                        h5.card-price-new #{item.priceNew}$
                        h5.card-price-old #{item.price}$
                        h5.card-discount -#{item.discountPercentage}%
                        a.btn.btn-primary(href='#') Buy Now
